.select-timer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  /* background-color: blue; */
}
.select-timer-form label {
  margin-left: 20px;
}
.select-timer-form label input {
  margin-left: 5px;
}
.clock-container {
  border: 2px solid rgb(207, 207, 207);
  background-color: rgb(235, 235, 235);
}
.refresh-button {
  margin-left: 20px !important;
}
.refresh-button:hover {
  cursor: pointer;
}
.refresh-button:active,
.refresh-button:focus {
  box-shadow: 0px 0px 3px blue;
}
.timer-container {
  display: flex;
  justify-content: flex-end;
  margin: 1% 5%;
}
