.flex-container--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-reset {
  all: unset;
}

.button-reset:focus {
  outline: none;
}

.main__container {
  padding: 0.5% 2%;
  background-color: rgb(245, 245, 245);
}
